*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #23252C;
}


.Main{
    /* border: 1px solid white; */
    width: 300px;
    height: 98vh;
    min-height: 600px;
    margin: 1vh auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    
    
    font-family: 'Inter';
    font-style: normal;
}

#Top{
    display: flex;
    flex: .3;
    width: 300px;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    background-color: #161619;
    padding: 20px;
}

#Top img{
    border-radius: 50%;
    border: 3px solid #F3BF99;
}

#Middle{
    display: flex;
    flex-direction: column;
    flex: .6;
    background-color: #1A1B21;
    color: white;
    padding: 0 25px;
    /* border-top: 1px solid #918E9B;
    border-bottom: 1px solid #918E9B; */
}

#Email{
    background-color: white;
    color: #1A1B21 !important;
    border-radius: 6px;
    font-size: 16px !important;
    text-align: center;
    padding: 5px;
    margin-top: 15px;
    cursor: pointer;
}

#Middle h1{
    margin-top: 15px;
    align-self: center;

    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

#Middle h2{
    margin-top: 15px;
    text-align: left;
    color: #F3BF99;

    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

#Middle h4{
    text-align: center;
    color: #F3BF99;
}

#Middle a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 5px;
}

#Middle p{
    /* font-size: 12px; */
    margin-top: 10px;
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    float: left;
}

#Bottom{
    display: flex;
    flex: .1;
    background-color: #161619;
}

#Bottom ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 15px 60px;
    justify-content: space-between;
}

#Bottom li{
    /* display: flex; */
    width: 32px;
    height: 32px;
    list-style: none;
    /* border: 1px solid white; */
}

#Bottom img{
    width: 100%;
}



@media (max-width: 639px) {
    
}

@media (max-width: 1023px) {
    
}

@media (min-width: 1024px) {
    
}